# Xcode
.DS_Store
*/build/*
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

#Carthage
Carthage/Checkouts
Carthage/Build
Example/Carthage
Cartfile.private

#Certs
Certs/*

#CocoaPods
Pods
Example/Pods/

#Confs
Configs/*Private.xcconfig
Configs/*.private.xcconfig

.diff_formatter
.env*
*.env

#Failure Diffs
InstacartTests/FailureDiffs

#Fastlane
Nantes/fastlane/report.xml
Nantes/fastlane/test_output/*

#Vim
*.swp
